/***** BODY ******/

body {
  background-color: #f5f6fa;
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
    font-size: 16px;
    display: grid;
    margin-left: 10em;
    margin-right: 10em;
}

/****** TEXT *****/

/* name */ 
h6 {
    color:hsl(212, 24%, 26%);
    margin-left: 15px;
    margin-bottom: 0;
    line-height: unset;
}
/* tag */ 
a {
   color: hsl(238, 40%, 52%)
}
/* paragraph */ 
p {
    margin-top: .5em;
    margin-bottom: 1em;
}
/* date */
.date {
    margin-left: 20px;
}
/* you */
.you {
    color:white;
    background-color: hsl(238, 40%, 52%); 
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
}


/***** MEDIA ******/
/* number box */
.number-box {
    background-color:hsl(228, 33%, 97%);
     height: fit-content;
     color: hsl(238, 40%, 52%);
     border-radius: 10px; 
     padding-left: 10px;
     padding-right: 10px;
}

/* Container */
.container-fluid{
    width: 70%;
    min-width: 1100px;
}

.row {
    margin-left: 5px;
}

/* COMMENT */

.card-body {
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
}
.card.mb-4 {
    border: 1px solid hsl(0, 0%, 100%);
    background-color: white;
    border-radius: 10px;
    margin-left: 10em;
    margin-right: 10em;
}

.card.mb-4.reply {
    border: 1px solid hsl(0, 0%, 100%);
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
}

/* COMMENT BOX */
.card.mb-5 {
    border: 1px solid hsl(0, 0%, 100%);
    background-color: white;
    border-radius: 10px;
    margin-left: 10em;
    margin-right: 10em;
}
/* break line */
.media-body {
    border-left: 2px solid #ebebed;
    margin-bottom: 10px;
    margin-left: 13em;

  }


/* FORM */ 
.form-control {
    margin-left: 15px;
    margin-right: 130px;
    padding-left: 15px;
    padding-top: 15px;
}


/****** BUTTON ******/
.btn-primary {
    padding: 10px 25px;
    background-color: hsl(238, 40%, 52%);
    position: absolute;
    top:20px;
    right: 20px;;
    font-size: small;
}
/* reply/delete/edit */
.font-weight-bold.reply, .font-weight-bold.edit {
    color: hsl(238, 40%, 52%);
} 
.font-weight-bold.delete {
    margin-right: 20px;
   color: hsl(358, 79%, 66%);
}

.attribution {
    text-align: center;
}

